*{
    padding: 0;
    margin: 0;
}

main{
    background-image: url('/img/backgroundLp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
}

.container1{
    background-color: $background;
    width: 28rem;
    height: auto;
    border-radius: 1rem;
}

.logo{
    width: 10rem;
}

.paragraph{
    margin: 1rem 0;
}

.btnSend{
    color: $button-color;
    border: 0.1rem solid $button-color;

    &:hover{
        background-color: $background;
        color: white;
    }
}

.footer{
    margin-top: 2rem;
    margin-bottom: -2rem;
}